<form [formGroup]="miFormulario" (ngSubmit)="onSubmit()">
  <div class="contenedor-fields">
    <div class="wrapper-field">
      <input-bk
        formControlName="id"
        label="ID*"
        [error]="getErrorMessage('id')"
      />
    </div>
    <div class="wrapper-field">
      <input-bk
        formControlName="name"
        label="Nombre*"
        [error]="getErrorMessage('name')"
      />
    </div>
    <div class="wrapper-field">
      <input-bk
        formControlName="description"
        label="Descripción*"
        [error]="getErrorMessage('description')"
      />
    </div>
    <div class="wrapper-field">
      <input-bk
        formControlName="logo"
        label="Logo*"
        [error]="getErrorMessage('logo')"
      />
    </div>
    <div class="wrapper-field">
      <input-bk
        formControlName="date_release"
        label="Fecha de liberación*"
        type="date"
        [error]="getErrorMessage('date_release')"
      />
    </div>
    <div class="wrapper-field">
      <input-bk
        formControlName="date_revision"
        label="Fecha de revición*"
        type="date"
        [error]="getErrorMessage('date_revision')"
      />
    </div>
  </div>
  <div class="flex gap-5 justify-center mt-14">
    <button class="btn btn--secondary" type="button" (click)="resetForm()">
      <!-- [disabled]="!miFormulario.valid" -->
      Reiniciar
    </button>
    <button class="btn btn--primary" type="submit">
      <!-- [disabled]="!miFormulario.valid" -->
      Enviar
    </button>
  </div>
</form>

<!-- MODALES -->
<swal
  #deleteSwal
  title="¡Producto creado!"
  text=" "
  icon="success"
  confirmButtonText="Aceptar"
  [timer]="2000"
  [showConfirmButton]="false"
  >
</swal>
