<label class="label-field">
  @if(label !== ''){
    <span>{{ label }}</span>
  }

  @if(loadingInput()){
    <squeleton />
  } @else {
    <input
      #inputRef
      class="input-field"
      [ngClass]="{'input-field--error': !!error }"
      [type]="type"
      [id]="formControlName"
      [name]="formControlName"
      [value]="value"
      (input)="handleInputChange($event)"
      [disabled]="disabledInput()"
    />
  }
  @if(error !== ''){
    <span class="text text--error">
      {{ error }}
    </span>
  }
</label>
